<nav class="navbar">
  <div class="nav-container">

    <div class="brand" routerLink="/">
      StoreEsamePSW<span>.it</span>
    </div>

    <div class="search-wrapper">
      <input type="text" placeholder="Cosa stai cercando?">
      <button class="btn-search">Cerca</button>
    </div>

    <div class="nav-actions">
      <ng-container *ngIf="!keycloakService.isLoggedIn()">
        <button class="btn-text" (click)="keycloakService.login()">Accedi</button>
        <button class="btn-primary" (click)="keycloakService.register()">Registrati</button>
      </ng-container>

      <ng-container *ngIf="keycloakService.isLoggedIn()">
        <button class="btn-text" (click)="goToPersonalArea()">Area Personale</button>
        <button class="btn-outline" (click)="logout()">Esci</button>
      </ng-container>
    </div>

    <div>

      <a routerLink="/cart" class="cart-link">
        🛒 Carrello
        <span class="badge" *ngIf="cartCount> 0">
          {{ cartCount }}
        </span>
      </a>
    </div>

  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
